@media screen and (max-width: 576px) {
    /* .nav-main-btn{
        display: none; 
    } */
    
    .nav-button{
        display: none;
    }
    .nav-main-btn{
        
    border: none;
   
    }
    #hambar{
        display: block;
        font-size: large;
        color: aliceblue;
    }
    .banner-main{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
    .banner-model{
        width: 100%;
    }
    #shape{
        
        font-size: 78px;
        
       
    }
    .banner-main-text{
        font-size: 36px;
    }
    .banner-badge350{
        /* position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.54);
        fill: rgba(48, 48, 48, 0.54);*/
        width: 170px;
        height: 76px;
        /*justify-content: center;
        align-items: center; */
        left: 104px;
        top: 696px;
        /* opacity: 80%; */
    
    }
    .banner-badge500{
        /* position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.54);
        fill: rgba(48, 48, 48, 0.54);*/
        width: 170px;
        height: 76px;
        /*justify-content: center;
        align-items: center; */
        left: 264px;
        top: 540px;
        /* opacity: 80%; */
        padding-left: 2rem;
    /* padding-top: .5rem; */
    
    }
    .banner-badge500 h1{
        font-size: 1.9rem;
    }
    .change-habit-list{
        flex-direction: column;
    }
    /* Run an Extra Mile Easily */
    .run-extra-main{
        flex-direction: column;
    }
    .run-extra-title{
        font-size: 2rem;
    }
    .run-extra-content{
        width: 100%;
        margin-left: auto;
    }
    .run-extra-model{
        width: 100%;
    }
    .btn-primary{
        width: 100%;
    }
    .run-image{
        width: 100%;
        object-fit: cover;
        margin-left: auto;
        
    }
.bmi-calculator{
    flex-direction: column;
}
.bmi-child{
    width: 100%;
    
}
.bmi-child button{
    width: 224px;
}
.bmi-calculator-heading{
    margin-left: auto;
    padding: 0;
    margin-bottom: 20px;
}
.calculate-bmi-title{

font-size: 18px;

}
.bmi{
    margin-top: 20px;
}
.bmi-calculator-table{
    /* border: 3px solid purple; */
    /* align-items: center; */
    /* justify-content: center; */
    /* display: block; */
   /* padding: 0px 200px; */
    margin-left: auto;
    /* margin-right: auto; */
}
.team{
    grid-template-columns: repeat(1, 1fr);
    padding: 50px;
    width: 80%;
    gap: 50px;
    height: 100%;
}
.footer-fitness{
    flex-direction: column;
}
.fitness{
    width: 100%;
}
.get-started{
    width: 100%;
    margin-top: 20px;
}
}