*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(91, 84, 84); */
    font-family: "Inter", sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* @import url('https://fonts.cdnfonts.com/css/miama'); */
/* Shared style */
.display-flex{
    display: flex;
}
.small-text{
    color:rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    /* line-height: 1.5rem; */

}
.large-text{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;

}
.text-align-left{
    text-align: left;
}
.text-align-center{
   text-align: center; 
}

/* Navbar start here */
.nav-main{
    justify-content: space-between;
    padding: 2rem 4rem;
    /* background-color: rgb(91, 84, 84); */

}
.nav-main-btn{
    
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
}
/* .nav-main-btn button{
    
} */
.nav-title{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
}
#nav-button-home{
    background-color: rgb(230, 83, 60);
    width: 92px;
    height: 38px;
    border-radius: 48px;
    margin-left: auto;
}
.nav-button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
    font-weight: 400;
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
    /* padding: 5px 5px; */
    /* width: 72px;
    height: 32px;
    justify-content: center;
    align-items: center; */
    /* padding: 8px 20px 8px 20px; */
    /* color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500; */
    /* line-height: 22px;
    letter-spacing: 0%; */
}
#hambar{
    display: none;
}

/* BANNER STYLE START HERE */
#shape{
    font-family: 'Miama', sans-serif;
    font-size: 108px;
    font-weight: 400;
   
}
.banner-main{
    width: 100%;
    padding: 2rem 4rem;
    /* border: 1px solid red; */
}
.banner-content{
    width: 50% ;
    /* border: 5px solid purple; */
}
.banner-model{
    width: 50%;
    /* border: 2px solid green; */
}
.banner-main-text{
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    text-align: left;
}
.banner-btn{
    /* margin: 0px 14px; */
    margin-top: 28px;
}
.btn-primary{
    width: 224px;
    height: 54px;
    
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.btn-primary2{
    width: 224px;
    height: 54px;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
/* .banner-main p{
    margin-top: 28px;
    
} */
.banner-model img{
    /* height: 100%; */
    position: relative;
    display: block;
    margin-left: auto;
    /* margin-right: auto; */
}
/* badge */
.banner-badge350{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    fill: rgba(48, 48, 48, 0.54);
    width: 206px;
    height: 96px;
    justify-content: center;
    align-items: center;
    left: 994px;
    top: 556px;
    /* opacity: 80%; */
    gap: 10px;

}
.banner-badge500{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    fill: rgba(48, 48, 48, 0.54);
    width: 206px;
    height: 96px;
    align-items: center;
    /* justify-content: center;
    align-items: center; */
   
    left: 1294px;
    top: 196px;
    /* opacity: 80%; */
    
}

.banner-badge-txt{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
   
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    
}
/* .banner-badge-text{
    height: 16px;
} */
 /* CHANGE HABIT STYLE */
 .change-habit-main{
    padding: 2rem 4rem;
 }
 .change-habit-list{
    margin-top: 20px;
 }
 .change-habit-content img{
    border-radius: 50%;
    display: block;
    margin: auto;
    /* align-items: center;
    justify-content: space-between */
    /* padding: 0px 50px; */
    /* margin: 0 auto; */
    
 }
 .text-description-bold{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.15rem;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
}
/* RUN AN EXTRA MILE EASILY */
.run-extra-main{
    /* border: 1px solid red; */
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    /* padding: 2rem 4rem; */
    margin: 2rem 4rem;
    display: flex;
    justify-content: space-between;
}
/* .run-extra-main img{
    width: 100%;
    object-fit: none;
    object-position: 65% 28%;
    zoom: 56%;
} */
.run-extra-content{
    margin-left: 30px;
    width: 50% ;
    /* border: 5px solid purple; */
}
.run-extra-model{
    width: 50%;
    /* border: 2px solid green; */
}
.run-extra-btn{
    /* margin: 0px 14px; */
    margin-top: 28px;
}
.run-extra-title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    
}
.run-image{
    /* width: 100%; */
    width: 300px;
    height: 237px;
    object-fit: none;
    border-radius: 25px;
    object-position: 65% 28%;
    /* zoom: 56%; */
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30%;
    /* margin-right: 20px; */
    /* padding: 30px 30px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: rgb(34, 34, 34); */

    /* padding: 50px 50px; */
}
/* BMI */
.bmi-calculator{
    /* border: 2px solid red; */
    background-color: rgb(34, 34, 34);;
}
.bmi-calculator-heading{
    padding: 88px;
    margin-left: 20%;
    /* margin-top: 30px;
    margin-bottom: 30px; */
}
.bmi-child{
    width: 50%;
    margin-bottom: 20px;
    /* border: 1px solid green; */
}
.bmi-calculator-table{
    /* border: 3px solid purple; */
    /* align-items: center; */
    /* justify-content: center; */
    display: block;
   /* padding: 0px 200px; */
    /* margin-left: 50%; */
    /* margin-right: auto; */
}
.calculate-bmi-title{
    margin-top: 30px;
    margin-bottom: 20px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
text-align: left;
}
table{
    border-collapse: collapse;
}
table td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.5);
}
.form-container{
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.form-field{
    width: 48%;
    /* border: 2px solid red; */
    margin-top: 20px;
    /* color: rgba(255, 255, 255, 0.6); */
    
}
.form-field-factor{
    /* display: none; */
    width: 100%;
    /* border: 2px solid rgb(202, 12, 12); */
    margin-top: 20px;
    margin-bottom: 20px;
    /* color: rgba(255, 255, 255, 0.6); */
}
.form-container input, select{
    /* border: 5px solid blue; */
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
}
/* TEAM MERBER */
/*Meet Our Team style start from here*/
.team{
    padding: 2rem 4rem;
    /* width: 1000px; need to edit from figma file */
    width: 1060px;
    height: 654px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    /* padding: 40px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* justify-content: center; */
    /* justify-content: center;
    text-align: center; */
    /* justify-items: center; */
    margin: 0 auto;
}
.team img{
    width:300px;
    height: 300px;
    /* margin-top: 50px; */
    border-radius: 30px;
}
.member-title{
    margin-top: -80px;
    margin-left: 20px;
    color: white;
}
.member-description{
    color: white;
    margin-top: -0px;
    margin-left: 20px;
}
/* footer */
.footer-fitness{
    padding: 2rem 4rem;
    justify-content: space-around;
}
.fitness{
    width: 40%;
}
.get-started{
    width: 30%;
    
}
.footer-fitness p{
    width: 440px;
    margin-top: 30px;
}
.footer-fitness p, ul, li{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    text-align: left;
}
.footer-fitness h2{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}
ul, li{
    list-style-type: none;
}
hr{
    display: block;
    width: 69rem;
    /* justify-content: center; */
    
    border: 2px solid rgba(255, 255, 255, 0.1);
    /* border-width: 1px; */
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}